body{
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding: 0;
}
/* header part */
.heading{
    height:750px;
    width: 100%;
    background-image: url(image/Bangladesh_flood_victims.jpg);
    transform: translate(0,-25%);
    background-image: linear-gradient(rgba(0,0,0,0));
}
.header{
    text-align: center;
    color: white;
    padding-top: 25% ;

}
.header h1{
    font-size: 50px;
}
 p{
    font-size: 20px;
    padding: 0 25%;
}
button{
    font-size: 18px;
    padding: 13px 22px;
    font-weight: 600;
    border: 0ch;
    border-radius: 5px;
    background-color: rgb(197, 55, 55);
    color: white;
}

/* donate part */

.donate{
    text-align: center ;
}
.donate h1{
    font-size: 45px;
}
.amount{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: center;
}
.taka {
    width: 100px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding:25px 5px;
    margin: 5px 5px 25px ;
    background-color: rgb(237, 237, 237);
    border-radius: 5px;

}
.taka2{
    text-align: center;
    border:2px solid rgb(222, 70, 70) ;
    background-color: rgb(232, 189, 189);
}
input{
    text-align: center;
    font-size: 16px;
    padding: 5px 250px;
    border: none;
    border-bottom: 1px solid gray;
    margin: 20px;
}










.unnecessary{
    margin-bottom: 500px;
}