body{
    font-family: 'Mukta', sans-serif;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    margin: 0;
    padding: 0;
}
p{
    font-size: 20px;
}
.header p,
.donate p,
.donate-Plan p,
.subscrib-part p{
    padding: 0 25%;
}
/* header part */
.heading{
    height:700px;
    width: 100%;
    background-image: url(image/Bangladesh_flood_victims.jpg);
    transform: translate(0,-25%);
    background-image: linear-gradient(rgba(0,0,0,0));
}
.header{
    text-align: center;
    color: white;
    padding-top: 25% ;

}
.header h1{
    font-size: 50px;
}

button{
    font-size: 18px;
    padding: 13px 23px;
    font-weight: 600;
    border: 0ch;
    border-radius: 5px;
    background-color: rgb(197, 55, 55);
    color: white;
}

/* donate part */

.donate{
    text-align: center ;
}
.donate h1{
    font-size: 45px;
}
.amount{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: center;
}
.taka {
    width: 100px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding:25px 5px;
    margin: 5px 5px 25px ;
    background-color: rgb(237, 237, 237);
    border-radius: 5px;

}
.taka2{
    text-align: center;
    border:2px solid rgb(222, 70, 70) ;
    background-color: rgb(232, 189, 189);
}
.donate input{
    text-align: center;
    font-size: 16px;
    padding: 5px 250px;
    border: none;
    border-bottom: 1px solid gray;
    margin: 20px;
}
/* plan part */
.donate-Plan{
    margin: 10% 0;

}
.donate-Plan h1,p{
    text-align: center;
}
.donate-Plan h1{
    font-size: 45px;
}
.plan{
    display: flex;
    margin: 0 10%;
    /* text-align: justify; */

}
.plan div{
    margin: 0 5% 0 0;
    padding: 1% ;
    border-radius: 5px;
}
.plan p,h2{
    text-align: left;
    padding:0 3% 0 4%;
}
.plan p{
    text-align: 12px;
}

.food{
    background-color: rgb(220, 240, 250);
}
.selter{
    background-color: rgb(248, 211, 211);
}
.education{
    background-color: rgb(247, 240, 231);
}
/* footer start */
.footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px 0;
}
.footer h2{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.footer p{
    font-size: 15px;
}

/* subscrib-part */
.subscrib-part{
    text-align: center;
    margin: 20px 0 150px 0;

}
.subscrib-part h1{
    font-size: 45px;
}
.subscrib-form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 165px;
    width: 56%;
    margin: auto;
    background-color: rgb(247, 228, 205);
}
form{
    display: flex;
}

.subscrib-part div  .frist-input{
    background-color:  rgb(205, 212, 212); 
    padding: 15px 100px 15px 5px;
    border: none;
    border-radius:  5px 0 0 5px ;
}
.subscrib-part div  .second-input{
    background-color:  rgba(203, 53, 39, 0.888);
    
    border: none;
    color:white;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    border-radius: 0 5px 5px 0;
    }






